RewriteEngine on
RewriteCond %{HTTP_HOST} ^(ikuwow\.com)(:80)? [NC]
RewriteRule ^(.*) http://www.ikuwow.com/$1 [R=301,L]
RewriteCond %{THE_REQUEST} ^.*/index.php
RewriteRule ^(.*)index.php$ http://www.ikuwow.com/$1 [R=301,L]

#RedirectMatch 403 /\..*$
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . index.php
